{% extends 'base.html.twig' %}
{% block title %}Sign in!{% endblock %}
{% block body %}
    <div class="row">
        <form class="col s12" action="{{ path('login') }}" method="post">
            {% if error %}
                <div class="red-text valign-wrapper">
                    <i class="material-icons">error</i>
                    <span class="valign">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                </div>
            {% endif %}

            <div class="input-field col s12">
                <i class="large material-icons prefix">account_circle</i>
                <input class="validate" type="text" id="username" name="_username" value="{{ last_email }}"
                       required="required" autocomplete="username"/>
                <label for="username">Username</label>
            </div>

            <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input class="validate" type="password" id="password" name="_password" required="required"
                       autocomplete="current-password"/>
                <label for="password">Password</label>
            </div>

            <input class="btn" type="submit" id="_submit" name="_submit"
                   value="sign in"/>
        </form>
        <a href="{{ path('app_github_connect') }}" class="waves-effect waves-light btn-large"><i class="material-icons right">cloud</i>Sign in via github</a>
        {#<a href="{{ path('hwi_oauth_service_redirect', {'service': 'googleplus'}) }}">#}
            {#<img src="{{ asset('img/google_signin.png') }}" alt="google signin">#}
        {#</a>#}

        {#<a href="{{ path('hwi_oauth_service_redirect', {'service': 'github'}) }}">#}
            {#<img width="191" height="46" src="{{ asset('img/github_signin.png') }}" alt="google signin">#}
        {#</a>#}
    </div>
{% endblock %}